/* Dodaj ten kod CSS do swojego pliku stylów lub uzupełnij istniejący kod */

.wypozycz {
  font-family: 'Arial', sans-serif;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Zmiana kierunku flex na kolumnowy */
}

h2 {
  color: #333;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 5px;
}

/* Dodaj nowe reguły dla formularza */
form {
  display: flex;
  flex-direction: column;
}

/* Dodaj nową regułę dla buttona */
form input[type="submit"] {
  align-self: flex-end;
  margin-top: 10px; /* Zachowaj margines od góry */
}
