<div class="wypozycz">
    <h2>Wypożycz</h2>
    <p>Model: {{bike.model}}</p>
    <p>Rodzaj: {{bike.rodzaj}}</p>
    <p>Rozmiar ramy: {{bike.rozmiarRamy}}</p>
    <p>Cena: {{bike.cena | currency: "GBP": 'symbol'}}</p>
    <form [formGroup]="form4edit" (ngSubmit)="doAddWypozyczenie()">
        <label for="borrowId">Id wypożyczenia (tymczasowo):</label>
        <input [(ngModel)]="borrowId" type="number" formControlName="id" id="borrowId">
        <label for="hoursCount">Liczba godzin:</label>
        <input [(ngModel)]="hoursCount" type="number" formControlName="borrowTimeInHours" id="hoursCount">
        <p>Przybliżona kwota wypożyczenia: {{(hoursCount||0)*bike.cena | currency: "GBP": 'symbol'}}</p>
        <div class="error" *ngIf="form4edit.controls['borrowTimeInHours'].errors?.['required']">
            Podaj liczbę godzin
        </div>
        <div class="error" *ngIf="form4edit.controls['borrowTimeInHours'].errors?.['min']">
            Rower można wypożyczyć na co najmniej 1 godzinę
        </div>
        <div class="error" *ngIf="form4edit.controls['borrowTimeInHours'].errors?.['max']">
            Rower można wypożyczyć na co najwyżej 48 godzin
        </div>
        
        <input [disabled]="!form4edit.valid" type="submit" value="Wypożycz">
    </form>
</div>
