<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Wypożyczalnia Rowerów</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/rower-admin-component" routerLinkActive="active" ariaCurrentWhenActive="page">Strona admina</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a routerLink="/wypozyczenia-component" routerLinkActive="active" ariaCurrentWhenActive="page">Wypożyczenia</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/cart-page">Wypożycz</a>
                </li>
            </ul>
        </nav>
    </div>
</header>