<form [formGroup]="form4edit" (ngSubmit)='doEditRower()'>
    Model: <input type="text" formControlName="model">
    Rodzaj: <input type="text" formControlName="rodzaj">
    rozmiar Ramy: <input type="text" formControlName="rozmiarRamy">
    Cena Wypożyczenia: <input type="number" formControlName="cena">
    <input [disabled]="!form4edit.valid" type="submit" value="Edytuj">
    <div class="error" *ngIf="form4edit.controls['model'].errors?.['required']">
        Model jest obowiązkowy
    </div>
    <div class="error" *ngIf="form4edit.controls['model'].errors?.['maxlenght']">
        Model ma zbyt długą nazwę
    </div>
    <div class="error" *ngIf="form4edit.controls['rodzaj'].errors?.['required']">
        Rodzaj jest obowiązkowy
    </div>
    <div class="error" *ngIf="form4edit.controls['rodzaj'].errors?.['pattern']">
        Pierwsza litera musi być duża
    </div>
    <div class="error" *ngIf="form4edit.controls['rozmiarRamy'].errors?.['required']">
        Rozmiar ramy jest obowiązkowy
    </div>

    <div class="error" *ngIf="form4edit.controls['rozmiarRamy'].errors?.['pattern']">
        Tylko wielkie litery
    </div>


    <div class="error" *ngIf="form4edit.controls['cena'].errors?.['min']">
        Cena jest zbyt niska
    </div>
    <div class="error" *ngIf="form4edit.controls['cena'].errors?.['max']">
        Imie jest zbyt wysoka
    </div>
    </form>