<div class="wyswietl">
    <h1>Dostępne rowery (widok admina)</h1>
    <form>
    <ul>
        <li *ngFor="let bike of BikeArray;index as i" >
            {{bike.model}},{{bike.rodzaj}},{{bike.rozmiarRamy}},{{bike.cena | currency: "GBP": 'symbol'}}
            <button (click)="RemoveRower(i)">Usun</button>
            <button [routerLink]="['/rower-admin-component/edit-rower-component',bike.id]">Edit</button>
            <!-- <app-edit-rower 
            [rower]="bike"
            [ktoryRower]="bike.id"
            (doEditInParent)="doEditRower($event)"> 
        </app-edit-rower> -->
        </li>
    </ul>
    </form>
</div>
<app-add-rower></app-add-rower>