<div class="container">
    <h2>Zwróć wypożyczenie nr. {{borrowId}}</h2>
    <div class="bike-info">
      <p>Model: {{bike.model}}</p>
      <p>Rodzaj: {{bike.rodzaj}}</p>
      <p>Rozmiar ramy: {{bike.rozmiarRamy}}</p>
      <p>Cena: {{bike.cena | currency: "GBP": 'symbol'}}</p>
      <p>Czas wypożyczenia: {{hoursBorrowed | number:'1.2-2'}}h</p>
      <p>Maksymalny czas: {{borrow.liczbaGodzin}}h</p>
      <p>Aktualna opłata: {{hoursBorrowed * bike.cena | number:'1.2-2'| currency: "GBP": 'symbol'}}</p>
      <p>Opłata za wcześniejszy zwrot: {{(borrow.liczbaGodzin-hoursBorrowed)*(bike.cena/2) | number:'1.2-2'| currency:"GBP":'symbol'}}</p>
      <p>Do zapłaty: {{(hoursBorrowed * bike.cena)+((borrow.liczbaGodzin-hoursBorrowed)*(bike.cena/2)) | number:'1.2-2' | currency:"GBP":'symbol'}} </p>
    </div>
    <button (click)="deleteWynajetyRower(borrowId)">Zwróć</button>
  </div>
  